.toplevel_page_crux-blocks-panel #poststuff .acf-fields {
	display: flex;
	flex-flow: row wrap;
	margin-top: -7px !important;
    padding: 4px !important;
    width: 100%;
    box-sizing: border-box;

    .manage-crux-block {

		flex-basis:25%;
		width:25%;
		padding:20px;
		background:#f5f5f5;
		border:none;
		border-top:3px solid #fff;
		border-bottom:1px solid #d9d9d9;
		box-sizing:border-box;

		.acf-label label {
			text-align:center;
			font-weight:400;
			font-size:20px;

			&:before {
				content:'';
				background:url('../dist/images/crux-blocks-icon.svg') center center / 100% auto no-repeat transparent;
				height:18px;
				width:18px;
				position: relative;
				margin:0 8px 0 0;
				top:2px;
				display: inline-block;
			}

		}

		.acf-checkbox-list li {

			text-align: center;

			label {
				display: inline-block;
			}

		}

	}

}

#adminmenu a.toplevel_page_crux-blocks-panel div.wp-menu-image:before {
	content:'' !important;
	background:url('../dist/images/crux-blocks-gray-icon.svg') center center / 100% auto no-repeat transparent;
	height:17px !important;
	width:17px !important;
	opacity: 0.6;
}

#adminmenu a.toplevel_page_crux-blocks-panel.current div.wp-menu-image:before {
	opacity: 1;
}

.toplevel_page_crux-blocks-panel #poststuff .acf-fields {
	display: flex;
	flex-flow: row wrap;
    padding: 0px !important;
    width: 100%;
    box-sizing: border-box;
}

.toplevel_page_crux-blocks-panel .acf-fields .manage-crux-block {
	flex-basis:25%;
	width:25%;
	padding:20px;
	background:#ffff;
	border:none;
	border-bottom:1px solid #f5f5f5;
	box-sizing:border-box;
}

.toplevel_page_crux-blocks-panel #poststuff #post-body.columns-2 {
	margin-right:0;
}

.toplevel_page_crux-blocks-panel #poststuff #post-body.columns-2 #postbox-container-1 {
	margin:0;
	float:none;
	width:100%;
}

.toplevel_page_crux-blocks-panel #poststuff #post-body.columns-2 #side-sortables .postbox {
	border:none;
	box-shadow:0 0 0 rgba(0,0,0,0);
}

.toplevel_page_crux-blocks-panel #poststuff #post-body.columns-2 #side-sortables .button-primary,
.toplevel_page_crux-blocks-panel #poststuff #post-body.columns-2 #side-sortables .button-primary.hover,
.toplevel_page_crux-blocks-panel #poststuff #post-body.columns-2 #side-sortables .button-primary:hover,
.toplevel_page_crux-blocks-panel #poststuff #post-body.columns-2 #side-sortables .button-primary.focus,
.toplevel_page_crux-blocks-panel #poststuff #post-body.columns-2 #side-sortables .button-primary:focus {
	background: #ee3333;
	border-color: #ab1f1f;
	box-shadow: 0 1px 0 #ab1f1f;
  text-shadow: 0 -1px 1px #ab1f1f, 1px 0 1px #ab1f1f, 0 1px 1px #ab1f1f, -1px 0 1px #ab1f1f;
}

.toplevel_page_crux-blocks-panel #poststuff #post-body.columns-2 #side-sortables .button-primary.disabled,
.toplevel_page_crux-blocks-panel #poststuff #post-body.columns-2 #side-sortables .button-primary:disabled {
	background: #ba7272 !important;
	border-color: #ba7272 !important;
	box-shadow: 0 1px 0 #ba7272 !important;
	color:#d5d5d5 !important;
  text-shadow: 0 -1px 1px #ba7272, 1px 0 1px #ba7272, 0 1px 1px #ba7272, -1px 0 1px #ba7272 !important;
}

.toplevel_page_crux-blocks-panel #poststuff #post-body.columns-2 #side-sortables {
	min-height: 0px;
	width:100%;
	background:#fff;
}

.toplevel_page_crux-blocks-panel .acf-settings-wrap #poststuff {
	padding-top:0;
}

.toplevel_page_crux-blocks-panel .acf-admin-notice {
	margin:0 !important;
}

.toplevel_page_crux-blocks-panel #poststuff #post-body.columns-2 #side-sortables #major-publishing-actions {
	border:none;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ba7272+0,f1f1f1+100 */
background: rgb(186,114,114); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(186,114,114,1) 0%, rgba(220,220,220,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(186,114,114,1) 0%,rgba(220,220,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(186,114,114,1) 0%,rgba(220,220,220,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba7272', endColorstr='#f1f1f1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.toplevel_page_crux-blocks-panel #poststuff #post-body.columns-2 #side-sortables .hndle.ui-sortable-handle,
.toplevel_page_crux-blocks-panel #poststuff #post-body.columns-2 #side-sortables .handlediv {
	display:none !important;
}

.toplevel_page_crux-blocks-panel #poststuff #post-body.columns-2 #side-sortables .postbox {
	margin:0;
}

.toplevel_page_crux-blocks-panel .acf-fields .manage-crux-block .acf-label label {
	text-align:center;
	font-weight:400;
	font-size:20px;
	height:30px;
	line-height: 16px;
}

.toplevel_page_crux-blocks-panel .acf-fields .manage-crux-block .acf-label label:before {
	display: none !important;
}

.toplevel_page_crux-blocks-panel .acf-fields .manage-crux-block .acf-checkbox-list li {
	text-align: center;
}

.toplevel_page_crux-blocks-panel .acf-fields .manage-crux-block .acf-checkbox-list li label {
	display: inline-block;
	overflow: hidden;
	position: relative;
	font-weight:400;
	text-transform: uppercase;
}

.toplevel_page_crux-blocks-panel .acf-fields .manage-crux-block .acf-checkbox-list li label:before {
	height: 28px;
	width: 54px;
	border-radius: 14px;
	border:2px solid #444;
	background:#fff;
	margin:0 10px 0 0;
	position: relative;
	box-sizing:border-box;
	display: inline-block;
	content:'';
	top:3px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ba7272+0,ee3333+100 */
	background: rgb(186,114,114); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(186,114,114,1) 0%, rgba(238,51,51,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgba(186,114,114,1) 0%,rgba(238,51,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  rgba(186,114,114,1) 0%,rgba(238,51,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba7272', endColorstr='#ee3333',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



.toplevel_page_crux-blocks-panel .acf-fields .manage-crux-block .acf-checkbox-list li label.selected:before {
	background: #3AD611;
	background: -webkit-linear-gradient(right, #3AD611, #34861E);
	background: -moz-linear-gradient(right, #3AD611, #34861E);
	background: linear-gradient(to left, #3AD611, #34861E);
}

.toplevel_page_crux-blocks-panel .acf-fields .manage-crux-block .acf-checkbox-list li label.selected:after {
	left:30px;
}

.toplevel_page_crux-blocks-panel .acf-fields .manage-crux-block .acf-checkbox-list li label:after {
	position: absolute;
	width:20px;
	height:20px;
	left:5px;
	top:7px;
	border-radius:100%;
	background-color: #444;
	box-sizing:border-box;
	content:'';
	transition:left 0.3s ease-in-out;
}

.toplevel_page_crux-blocks-panel .acf-fields .manage-crux-block .acf-checkbox-list li label input {
	position: absolute;
	left:-9999px;
	height:0;
	width:0;
}

#adminmenu a.toplevel_page_crux-blocks-panel div.wp-menu-image img {
	height: 17px;
	width:17px;
	display: block;
	padding:9px 0 0 10px;
}

#adminmenu a.toplevel_page_crux-blocks-panel div.wp-menu-image:before {
	display: none !important;
}

.toplevel_page_crux-blocks-panel .acf-postbox .hndle.ui-sortable-handle,
.toplevel_page_crux-blocks-panel .acf-postbox .handlediv {
	display:none !important;
}

#adminmenu a.toplevel_page_crux-blocks-panel.current div.wp-menu-image:before {
	opacity: 1;
}
