.portfolio--wrap {
  background-color: $blue-100;
}

.portfolio--filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding:60px 0 30px;

  @media(min-width:$screen-lg-min) {
    flex-flow: row nowrap;
    padding:60px 0;
  }
}

.portfolio--dropdowns {
  flex:1 0 100%;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;

  @media(min-width:$screen-lg-min) {
    flex:1 0 65%;
    max-width: 65%;
    flex-flow: row nowrap;
    margin-right:60px;
  }

  label {
    margin-right:15px;
  }

}

.portfolio--dropdown,
.selectric-portfolio--dropdown {
  flex:1 0 100%;
  max-width:100%;
  margin:15px 0 0;

  @media(min-width:$screen-lg-min) {
    flex:1 0 50%;
    max-width:200px;
    margin:0 30px 0 0;
  }
}

.portfolio--dropdown {

  @media(max-width:$screen-lg-max) {
    border: 1px solid $gray-500;
    border-radius: 4px;
    background: $blue-100;
    position: relative;
    overflow: hidden;
    padding: 5px 40px 5px 15px;
    color: #0b1b2e;
    height: 40px;
    font-size:16px;
    background: url(../images/chevron-down.svg) calc(100% - 15px) center / 10px auto no-repeat transparent;
  }

  &.is-touch {
    border: 1px solid $gray-500;
    border-radius: 4px;
    background: $blue-100;
    position: relative;
    overflow: hidden;
    padding: 5px 40px 5px 15px;
    color: #0b1b2e;
    height: 40px;
    font-size:16px;
    background: url(../images/chevron-down.svg) calc(100% - 15px) center / 10px auto no-repeat transparent;
  }

}

.portfolio--grid {

  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding:0 0 120px;
  margin:0 -20px;

  @media(min-width:$screen-sm-min) {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  @media(min-width:$screen-lg-min) {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media(min-width: 1400px ) {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr
    ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

}

.portfolio--item {
  overflow: hidden;
  position: relative;
  padding:20px;

  &:hover {

    .portfolio--item-content {

      @media (any-pointer: fine) {
        transform:scale(1);
        opacity: 1;
      }

    }

  }

  &.is-hiding {
    display: none;
  }

}

.portfolio--item-link {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 3;
  display: block;
  border:none;
}

.portfolio--item-logo {
  height:0;
  padding-top:100%;
  width:100%;
  position: relative;
  border:none;
  background-color:#fff;
}

.portfolio--item-logo-inner {
  position: absolute;
  top:15%;
  left:15%;
  right:15%;
  bottom:15%;
  transform:scale(1);
  transition: transform 0.3s ease-in-out;

  img {
    object-fit: contain;
    position: relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }

}

.portfolio--item-content {
  transform:opacity 0.3 ease-in-out;
  background-color:rgba($green-400,1);
  color:#fff;
  transition:all 0.3s ease-in-out;
  position: absolute;
  right:10px;
  top:10px;
  bottom:10px;
  left:10px;
  z-index: 2;
  padding:20px;
  border:none;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  opacity: 0;
  transform:scale(0.65);
  box-shadow: 0 0 8px rgba(0,0,0,0.45);

  p {
    margin:0;
    font-size:16px;
    line-height: 1.35;
  }

}