.posts--filters {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding:60px 0 30px;

    @media(min-width:$screen-lg-min) {
      flex-flow: row nowrap;
      padding:60px 0 0;
    }
  }

  .posts--dropdowns {
    flex:1 0 100%;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;

    @media(min-width:$screen-lg-min) {
      flex:1 0 65%;
      max-width: 65%;
      flex-flow: row nowrap;
      margin:0px;
    }

    label {
      margin-right:15px;
    }

  }

  .post--dropdown,
  .selectric-post--dropdown {
    flex:1 0 100%;
    max-width:100%;
    margin:15px 0 0;

    @media(min-width:$screen-lg-min) {
      flex:1 0 50%;
      max-width:200px;
      margin:0;
    }
  }

  .post--dropdown {

    @media(max-width:$screen-lg-max) {
      border: 1px solid $gray-500;
      border-radius: 4px;
      background: $blue-100;
      position: relative;
      overflow: hidden;
      padding: 5px 40px 5px 15px;
      color: #0b1b2e;
      height: 40px;
      font-size:16px;
      background: url(../images/chevron-down.svg) calc(100% - 15px) center / 10px auto no-repeat transparent;
    }

    &.is-touch {
      border: 1px solid $gray-500;
      border-radius: 4px;
      background: $blue-100;
      position: relative;
      overflow: hidden;
      padding: 5px 40px 5px 15px;
      color: #0b1b2e;
      height: 40px;
      font-size:16px;
      background: url(../images/chevron-down.svg) calc(100% - 15px) center / 10px auto no-repeat transparent;
    }

  }

.sticky-posts {

  position: relative;
  z-index: 2;
  background: url(../images/logo-mark-accent-dark.png) 80% -240px / 600px auto no-repeat transparent;

  > div {

    position: relative;
    z-index: 2;
    padding:0 0 30px;

  }

  &--header {
    padding:60px 0 0;
    margin:0 0 15px;
  }

  &--grid {
    padding:0 0 30px;
    display: grid;
    grid-gap:20px;
    grid-template-columns:1fr;

    @media(min-width:$screen-md-min) {
      grid-template-columns:1fr 1fr;
      grid-gap:30px;
    }

    .post--item {

      background-color: $white;
      padding:0 30px 30px;
      border:none !important;
      margin:0;

      @media(min-width:$screen-md-min) {
        padding:0 60px 60px;
      }

      &--image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height:0;
        padding-top:60%;
        width:calc(100% + 120px);
        margin:0 -60px 60px;
        position: relative;

        a {
          position: absolute;
          top:0;
          bottom:0;
          left:0;
          right:0;
          display: block;
        }
      }

      &--title {

        margin:30px 0 0;
        padding:0 30px 0 0;
        background: url(../images/icons/chevron-right-blue-700.svg) right 8px / 10px auto no-repeat transparent;

      }

    }

  }

}

.posts {

  &--header {
    padding:60px 0 0;
    margin:0 0 -60px;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-content:center;
    align-items:center;

    @media(min-width:$screen-lg-min) {
      flex-flow:row nowrap;
    }

    h2 {
      margin:0;
      color: $green-400;
      line-height: 1.35;
    }

  }

  &--navigation {

    display: flex;
    justify-content: flex-end;
    padding:30px 0 120px;

    &--previous {

      flex:1;
      margin:6px 15px 0 0;
      line-height: 1;

      a {
        
        font-size: 18px;
        text-decoration: none;
        font-weight: 400;
        color:$blue-400;
        display: inline-block;

        &:hover {

        }

        &:before {
          content:'\2039';
          display: inline-block;
          margin:0 8px 0 0;
          font-size:22px;
          line-height: 1;
          position: relative;
          top:1px;
        }

      }

    }

    &--current {
      font-size: 18px;
      flex:0 0 auto;
      margin:10px 15px;
      line-height: 1;
    }

    &--next {

      flex:0 0 auto;
      margin:6px 0 0 15px;
      line-height: 1;
      
      a {

        font-size: 18px;
        text-decoration: none;
        font-weight: 400;
        color:$blue-400;
        display: inline-block;
        line-height: 1;

        &:hover {

        }

        &:after {
          content:'\203A';
          display: inline-block;
          margin:0 0 0 8px;
          font-size:22px;
          line-height: 1;
          position: relative;
          top:1px;
        }

      }

    }

  }

}

.posts--cols {
  display: flex;
  flex-flow: row nowrap;
}

.posts--col-1 {
  // flex:1 0 66.666%;
  // width: 66.666%;
  // padding:0 60px 0 0;
}

.posts--col-2 {
  flex:1 0 33.333%;
  width: 33.333%;

  display: none;
}

.posts--grid {
  padding:0;
  position: relative;

  &.is-loading {

    &:before {
      z-index: 2;
      content:'';
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background:url(../images/loader-three-dots.svg) center 120px / 60px auto no-repeat rgba(255,255,255,0.85);
    }

  }

}

.post--item {

  margin:0 0 60px 0;
  padding:60px 30px 0 0;
  overflow: hidden;
  position: relative;

  + .post--item {
    border-top:1px solid #ccc;
  }

  &:hover {


  }

  &.is-hiding {
    display: none;
  }

  &--link {

    a {

    }

  }

  &--meta {

    list-style-type: none;
    padding: 0;
    margin: 0;
    // display: flex;
    // flex-flow: row wrap;

    li {

      margin:0;
      font-size: 18px;
      
      font-weight: 400;
      display: inline;

      + li {

        &:before {
          content:'/';
          margin:0 12px 0 8px;
          font-size: 75%;
          position: relative;
          top:-2px;
        }

      }

    }

  }

  &--image {
    height:0;
    padding-top:100%;
    width:100%;
    position: relative;
  }

  &--image-inner {
    position: absolute;
    top:15%;
    left:15%;
    right:15%;
    bottom:15%;
    transform:scale(1);
    transition: transform 0.3s ease-in-out;

    img {
      object-fit: contain;
      position: relative;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
    }

  }

  &--title {
    font-size:28px;
    font-weight: 400;
    color: $green-400;
    margin:15px 0 0;

    @media(min-width:$screen-md-min) {
      font-size:32px;
    }

    a {
      color:$green-400;
      display: block;
      text-decoration: none;
      padding:0 90px 0 0;
      background: url(../images/icons/arrow-right-green-400.svg) center right / 26px auto no-repeat transparent;
    }

  }

  &--excerpt {

    font-size:20px;
    font-weight: 300;

    @media(min-width:$screen-md-min) {
      font-size:26px;
    }

    p {
      margin:0 0 20px;
    }

    .read-more {
      display: block;
      margin:0;

      a {

        font-size: 18px;
        text-decoration: none;
        font-weight: 400;
        color:$blue-400;

        &:hover {

        }

        &:after {
          content:'\203A';
          display: inline-block;
          margin:0 0 0 8px;
          font-size:22px;
          line-height: 1;
          position: relative;
          top:1px;
        }

      }

    }

  }

}

.posts--no-results {
  margin:60px 0 60px 0;
  font-size: 24px;
  text-align: center;

  strong {
    display: block;
    font-size:32px;
  }
}

.posts--load--more {
  margin:30px 0 60px;
  border-top:1px solid #ccc;
  padding-top:60px;
}

.posts--navigation--current {
  text-align: center;
  margin:30px 0 0;
}

.posts--navigation--page-links {
  display: none;
}
