.post-type-archive-team {

  .team-archive-intro {
    background: url(../images/logo-mark-accent.png) 80% -240px / 600px auto no-repeat transparent;
  }

  .team--filters {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    padding:90px 0 30px;

    @media(min-width:$screen-lg-min) {
      padding:60px 0 0;
    }

    label {
      margin-right:15px;
    }

  }

  .team--dropdowns {
    flex:1 0 100%;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;

    @media(min-width:$screen-lg-min) {
      flex:1 0 65%;
      max-width: 65%;
      flex-flow: row nowrap;
      margin-left:60px;
    }

    > *:last-child {
      margin-right:0;
    }

  }

  .team--dropdown,
  .selectric-team--dropdown {
    flex:1 0 100%;
    max-width:100%;
    margin:15px 0 0;

    @media(min-width:$screen-lg-min) {
      flex:1 0 50%;
      max-width:200px;
      margin:0 30px 0 0;
    }

  }

  .team--dropdown {

    @media(max-width:$screen-lg-max) {
      border: 1px solid $gray-500;
      border-radius: 4px;
      background: $blue-100;
      position: relative;
      overflow: hidden;
      padding: 5px 40px 5px 15px;
      color: #0b1b2e;
      height: 40px;
      font-size:16px;
      background: url(../images/chevron-down.svg) calc(100% - 15px) center / 10px auto no-repeat transparent;
    }

  }

  .team--search {

    flex:1 0 100%;
    margin:15px 0 0;

    @media(min-width:$screen-lg-min) {
      flex:1;
      margin:0;
      display: flex;
      justify-content: flex-end;
    }

    &.is-expanded {

      input {
        border-bottom:1px solid $green-400;
        width:100%;
      }

    }

    input {
      border:none;
      border-bottom:1px solid transparent;
      background:url(../images/icons/icon-search-blue.svg) right center / 22px auto no-repeat $blue-100;
      font-size:16px;
      padding:8px 30px 8px 0;
      width:100px;
      transition: all 0.3s ease-in-out;

      &:focus,
      &:active,
      &:hover {
        outline:none;
        box-shadow:none;
      }

    }

    button {

      display: block;
      height:42px;
      width:42px;

      img {
        display: block;
        height:42px;
        width:42px;
      }

    }

  }

  .team--divider {
    grid-column: 1 / span 4;
    border-color: transparent;
    margin:0;
  }

  .team--grid {

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    padding:0 0 120px;

    @media(min-width:$screen-sm-min) {
      grid-template-columns: 1fr 1fr;
    }

  	@media(min-width:$screen-md-min) {
  		grid-template-columns: 1fr 1fr 1fr;
  	}

  	@media(min-width:$screen-lg-min) {
  		grid-template-columns: 1fr 1fr 1fr 1fr;
  	}

  }

  .team--item-section {
    column-span: all;
    color:$black;
    margin:45px 0;

    @media(min-width:$screen-sm-min) {
      grid-column: 1 / span 2;
    }

    @media(min-width:$screen-md-min) {
      grid-column: 1 / span 3;
    }

    @media(min-width:$screen-lg-min) {
      grid-column: 1 / span 4;
    }

    &.is-hiding {
      display: none;
    }

  }

  .team--item {
    overflow: hidden;
    position: relative;
    background: $white;
    // max-width: 9999px;
    // max-height: 9999px;
    // transition:max-width 1s ease-in-out,max-height 1s ease-in-out,position 0 ease-in-out 1s;

    &:hover {

      .team--item-image {

        div {
          transform:scale(1.05);
        }

      }

    }

    &.is-hiding {
      max-width: 0;
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      position:absolute;
    }

  }

  .team--item-link {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 3;
    display: block;
  }

  .team--item-image {
    height:0;
    padding-top:120%;
    width:100%;
    position: relative;
    overflow: hidden;

    div {
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      transform:scale(1);
      transition:transform 0.3s ease-in-out;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image:url(../images/team-image-placeholder.jpg);
    }

  }

  .team--item-content {

    padding:30px;

    h4 {
      margin:0;
      font-size:24px;
      font-weight: 400;
      line-height: 1.2;
      color:$green-400;

      strong {
        margin:10px 0 0;
        font-size:18px;
        display: block;
        line-height: 1.35;
        color:$gray-500;
      }

      small {
        margin:5px 0 0;
        font-size:15px;
        display: block;
        color:$gray-500;
      }

    }

  }

}
