.accordion-block {

	clear:both;
	overflow: hidden;

	&.is-collapsed {

		.accordion--content {
			display: none;
		}

		.accordion--title a img {
			transform: rotate(0deg);
		}

	}

}

.accordion-block {
	border-bottom:1px solid #c6c6c6;

	&:last-child {
		border:none;
		margin:0;
	}
}

.accordion--title {
	display:block;
	display: block;
	position: relative;
	margin:0;

	.accordion--title-link {
		color:$blue-400;
		text-decoration: none;
		font-size:28px;
		letter-spacing: 1px;
		position: relative;
		padding:20px 0;
		display: block;
		outline:none;

		img {
			position: absolute;
			right:0;
			top:35px;
			transform: rotate(180deg);
			width:16px;
			height:auto;
		}

	}

}

.accordion--content {
	display: block;
	padding:0 0 20px;

	p, li {
		font-size:18px;
	}
}
