.featured-posts {

	

}

.featured-posts--grid {

}

.featured-post {
	position: relative;
	padding:45px 0;
	margin:45px 0 0;
	border-top:1px solid $gray-400;

	&:hover {

		.featured-post--image div {
			transform: scale(1.05);
		}

	}

	&:first-child {
		border:none;
		margin:0;
		padding:0;
	}

	&.is-video {

		.featured-post--title {
			padding-top:90px;
			background:url(../images/play-button.svg) left top / 60px auto no-repeat transparent;
		}

	}

}

.featured-post--image {

	position: relative;
	margin:0 0 30px;
	height:0;
	padding-top:65%;
	overflow: hidden;

	div {
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		transform:scale(1);
		transition: all 0.2s ease-in-out;
		transform-origin: center;
	}

	a {
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index: 2;
		display: block;
	}

}

.featured-post--content {

	position: relative;
	width:100%;

	a {
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index: 2;
	}

}

.featured-post--inner {

}

.featured-post--link {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: 3;
	cursor: pointer;
}

.featured-post--title {
	margin:0;
	padding:0;
	position: relative;
	color:$green-400;
	font-size:26px;

	@media(min-width:$screen-lg-min) {
		margin:0 0 15px;
	}

}

.featured-post--meta {
	display: block;
	margin:0 0 10px;
	font-size:16px;
	color:$black;
}

.featured-post--date {
	display: block;
	margin:0 0 10px;
	font-size:16px;
}
