.icon-list-module {

	clear:both;
	@include clearfix;

	&.icon-list-title-left {

		.icon-list--title {
			float:left;
			width:25%;
		}

		.icon-list--items {
			float:left;
			width:75%;
			position: relative;
			padding:0 0 0 30px;

			&:before {
				content:'';
				position:absolute;
				top:0;
				bottom:60px;
				left:0;
				width:1px;
				background: #636363;
			}

		}

		.icon-list-item {
			flex-basis: 50%;
			width:50%;

			&:before {
				display:none;
			}
		}
		
	}

}

.icon-list--title {

	padding:0 0 60px;

	h2 {

		margin:0;
		color:#fff;
		line-height:1;
		font-size:34px;
		font-weight:600;
		position: relative;
		z-index: 2;
		text-transform: uppercase;

		@media(min-width:$screen-sm-min) {
			font-size:48px;
		}

		small {
			display:block;
			font-size:50%;
			color:$blue-400;
			font-weight:400;
			margin:5px 0 0;
		}

	}

}

.icon-list--items {
	display:flex;
	flex-flow: row wrap;
	width:100%;
	margin:0;
}

.icon-list-item {
	flex-basis: 25%;
	width:25%;
	padding:0 30px;
	margin:0 0 60px;
	position:relative;

	&:before {
		content:'';
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		width:1px;
		background: #636363;
	}

}

.icon-list-item--icon {

	img {
		width:60px;
		height:auto;
		display:block;
		margin:0 0 10px;
	}

}

.icon-list-item--content {
	
	h1, h2, h3, h4, h5, h6, p {
		color:#fff;
		line-height:1.5;

		strong {
			font-weight:600;
		}
	}

	> *:last-child {
		margin-bottom:0;
	}

}