.link-list-block {

  display: flex;
  flex-flow: row nowrap;

  .link-list--links {

    ul {
      list-style-type: none;
      margin:0;
      padding:0;
      border-top:1px solid #c0c0c0;
    }

    li {
      margin:0;
      padding:0;
      cursor: pointer;
    }

    a {

      display: block;
      border-bottom:1px solid #c0c0c0;
      padding:30px 90px 30px 0;
      font-size: 22px;
      text-decoration: none;
      color:$green-400;
      background-position: center right;
      background-repeat: no-repeat;
      background-size: 24px auto;
      cursor: pointer;

      small {
        font-size: 16px;
      }

      &.is-showing {
        color:$black;
        background-image:url(../images/icons/arrow-right-black.svg);
      }

    }

  }

  .link-list--content {

    flex:1;
    margin:0 0 0 90px;

  }

  .link-list--copy {

    display: none;

    > *:first-child {
      margin-top:0;
    }

    &.is-showing {
      display: block;
    }

  }

}