
.masthead {

	position: relative;
	margin:0;
	height:auto;
	background-color: $gray-300;
	z-index: 1;

	&.has-no-image {

	}

	&.has-no-text {

		.masthead--container {
			display: none;
		}

		&.is-short-height {

			.masthead--image {
				height:0;
				padding-top:60%;
				position: relative;

				@media(min-width:$screen-sm-min) {
					padding-top:40%;
				}

				@media(min-width:$screen-md-min) {
					padding-top:20%;
				}
			}

		}

		&.is-normal-height {

			.masthead--image {
				height:0;
				padding-top:80%;
				position: relative;

				@media(min-width:$screen-sm-min) {
					padding-top:60%;
				}

				@media(min-width:$screen-md-min) {
					padding-top:40%;
				}
			}

		}

		&.is-full-height {

			.masthead--image {
				// height:0;
				// padding-top:50%;
				// position: relative;
			}

		}

	}

	.masthead--video {

		height: 100%;
		overflow: hidden;
		pointer-events: none;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		z-index: 3;

		video {
			box-sizing: border-box;
	    height: 56.25vw;
	    left: 50%;
	    min-height: 100%;
	    min-width: 100%;
	    transform: translate(-50%,-50%);
	    position: absolute;
	    top: 50%;
	    width: 177.77777778vh;
	    max-width: none;
			z-index: 1;
		}

	}

	.masthead--image {
		background-repeat:no-repeat;
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index: 3;
	}

	.masthead--overlay {
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index: 4;
	}

	.masthead--container {
		position: relative;
		height: 100%;
		padding:0;
		z-index: 11;
		padding-left:20px;
		padding-right:20px;

		@media(min-width:$screen-md-min) {
			padding-left:30px;
			padding-right:30px;
		}

		@media(min-width:$screen-lg-min) {
			padding-left:40px;
			padding-right:40px;
		}

		@media(min-width:$screen-xl-min) {
			padding-left:60px;
			padding-right:60px;
		}
	}

	.masthead--content-inner {

		// @media(max-width:991px) {
		// 	min-width:75% !important;
		// }
		//
		// @media(max-width:767px) {
		// 	width:100% !important;
		// 	right:auto !important;
		// 	left:auto !important;
		// }

	}

	&.is-short-height {

		.masthead--content-inner {

			@media(min-width:$screen-lg-min) {
				padding:140px 0 140px 0;
			}

		}

	}

	&.is-full-height {

		min-height:400px;

		@media(min-width:$screen-xl-min) {
			height:calc(100vh - 100px);
			max-height:1000px;
		}

		.masthead--content {
			padding:0;
		}

		.masthead--content-inner {

			padding:90px 0;

			// margin:0;
			// left:0;
			//
			// @media(min-width:$screen-xl-min) {
			// 	transform:translateY(-50%);
			// 	position:absolute;
			// 	top:50%;
			// 	left:30px;
			// 	margin:0;
			// 	padding:0;
			// }
			//

		}

	}

	.masthead--content {

		height:100%;
		position:relative;
		z-index: 5;
		display: flex;
		flex-flow:row nowrap;
		margin-left: auto;
		margin-right: auto;
		max-width: 1400px;

	}

	.masthead--content-inner {

		padding:260px 0 180px 0;

		@media(min-width:$screen-lg-min) {
			padding:220px 0 180px 0;
		}

	}

	.masthead--title {

		margin:0 0 10px;
		position: relative;
		z-index: 2;
		display: block;
		font-weight: 500;
		display: flex;
		flex-flow:column wrap;
		width:100%;

		@media(min-width:$screen-md-min) {

		}

		@media(min-width:$screen-xl-min) {
			margin:0 0 5px;
		}

		&.is-secondary-before {

			.masthead--secondary-title {
				margin:0 0 15px;
			}

		}

		&.is-secondary-after {

			span {
				order:1;
			}

			.masthead--secondary-title {
				margin:15px 0 0;
				order:2;
			}

		}

		strong {
			color:$green-200;
		}

		span {
			display: block;
			width:100%;
		}

	}

	.masthead--secondary-title {
		display: block;
	}

	.masthead--copy {
		font-size: 24px;
		margin:15px 0 0;
		font-weight: 400;
		line-height: 1.4;
		font-family: $font-family-headings;
		color:#fff;

		> *:last-child {
			margin-bottom:0;
		}
	}

	.masthead--buttons {
		display: flex;
		width:100%;
		margin:30px 0 0;
	}

	.masthead--button {

	}

	.masthead--advance-arrow {
		position: absolute;
		bottom:20px;
		left:50%;
		width:20px;
		height:38px;
		transform:translateX(-50%);
		z-index: 12;
		display: block;
		outline:none;
		cursor: pointer;

		svg {
			width: 100%;
			height:auto;
			display: block;
			fill:white;
		}

	}

}
