.stats {
	clear:both;
	margin:0;

	&.stats-2 {

		.stat {

			@media(min-width:$screen-xl-min) {
				width:50%;
				flex-basis:50%;
				max-width:50%;
			}

		}

	}

	&.stats-3 {

		.stat {

			@media(min-width:$screen-xl-min) {
				width:33.333%;
				flex-basis:33.333%;
				max-width:33.333%;
			}

			.stat--prefix-large {

				@media(min-width:$screen-lg-min) {
					font-size:70px;
				}

				@media(min-width:$screen-xl-min) {
					font-size:80px;
				}

				@media(min-width:$screen-xxl-min) {
					font-size:100px;
				}

			}

			.stat--suffix {

				@media(min-width:$screen-lg-min) {
					font-size:70px;
				}

				@media(min-width:$screen-xl-min) {
					font-size:80px;
				}

				@media(min-width:$screen-xxl-min) {
					font-size:100px;
				}

			}

			.stat--number {

				@media(min-width:$screen-lg-min) {
					font-size:70px;
				}

				@media(min-width:$screen-xl-min) {
					font-size:80px;
				}

				@media(min-width:$screen-xxl-min) {
					font-size:100px;
				}

			}

		}

	}

	&.stats-4 {

		.stat {

			.stat--prefix-large {

				@media(min-width:$screen-lg-min) {
					font-size:60px;
				}

				@media(min-width:$screen-xl-min) {
					font-size:80px;
				}

				@media(min-width:$screen-xxl-min) {
					font-size:100px;
				}

			}

			.stat--suffix {

				@media(min-width:$screen-lg-min) {
					font-size:60px;
				}

				@media(min-width:$screen-xl-min) {
					font-size:80px;
				}

				@media(min-width:$screen-xxl-min) {
					font-size:100px;
				}

			}

			.stat--number {

				@media(min-width:$screen-lg-min) {
					font-size:60px;
				}

				@media(min-width:$screen-xl-min) {
					font-size:80px;
				}

				@media(min-width:$screen-xxl-min) {
					font-size:100px;
				}

			}

		}

	}

	&.stats-5 {

		.stat {

			@media(min-width:$screen-xl-min) {
				width:20%;
				flex-basis:20%;
				max-width:20%;
			}

			.stat--prefix-large {

				@media(min-width:$screen-lg-min) {
					font-size:60px;
				}

				@media(min-width:$screen-xl-min) {
					font-size:70px;
				}

				@media(min-width:$screen-xxl-min) {
					font-size:100px;
				}

			}

			.stat--suffix {

				@media(min-width:$screen-lg-min) {
					font-size:60px;
				}

				@media(min-width:$screen-xl-min) {
					font-size:70px;
				}

				@media(min-width:$screen-xxl-min) {
					font-size:100px;
				}

			}

			.stat--number {

				@media(min-width:$screen-lg-min) {
					font-size:60px;
				}

				@media(min-width:$screen-xl-min) {
					font-size:70px;
				}

				@media(min-width:$screen-xxl-min) {
					font-size:100px;
				}

			}

		}

	}

	&.stats-6 {

		.stats--inner {

			@media(min-width:$screen-xl-min) {
				flex-flow: row wrap;
			}

		}

		.stat {

			@media(min-width:$screen-lg-min) {
				width:33.333% !important;
				flex-basis:33.333% !important;
				max-width:33.333% !important;
				margin-bottom:30px !important;
			}

			&:nth-child(3n + 1) {

				&:before {

					@media(min-width:$screen-lg-min) {
						display: none;
					}

				}

			}

			&:first-child:before {

				@media(min-width:$screen-lg-min) {
					display: none;
				}

			}

			.stat--prefix-large {

				@media(min-width:$screen-lg-min) {
					font-size:60px;
				}

				@media(min-width:$screen-xl-min) {
					font-size:80px;
				}

				@media(min-width:$screen-xxl-min) {
					font-size:100px;
				}

			}

			.stat--suffix {

				@media(min-width:$screen-lg-min) {
					font-size:60px;
				}

				@media(min-width:$screen-xl-min) {
					font-size:80px;
				}

				@media(min-width:$screen-xxl-min) {
					font-size:100px;
				}

			}

			.stat--number {

				@media(min-width:$screen-lg-min) {
					font-size:60px;
				}

				@media(min-width:$screen-xl-min) {
					font-size:80px;
				}

				@media(min-width:$screen-xxl-min) {
					font-size:100px;
				}

			}

		}

	}

	&.is-vertical {

		.stats--inner {

			display: block;

		}

		.stat {
			width:100% !important;
			max-width: 100% !important;
			padding:45px 0;
			margin:0;

			&:before {

		  	content:'';
		  	position: absolute;
		  	top:0;
		  	left:0;
		  	border-top:2px solid #d3d4d4;
		  	height:1px;
		  	width:100%;
		  	display: block;
		  	opacity: 0.35;

		  }

		  &:first-child {

		  	margin-top:0;
		  	padding-top:0;

		  	&:before {
		  		display: none;
		  	}

		  }

		}

	}

}

.stats--inner {
	display:flex;
	flex-flow: wrap row;
	align-content: top;
	align-items: top;
	list-style-type: none;
	margin:0;
	padding:0;

	@media(min-width:$screen-sm-min) {
		flex-flow: wrap row;
		align-items: stretch;
		justify-content: center;
	}

	@media(min-width:$screen-xl-min) {
		flex-flow: nowrap row;
	}

}

.stat {

	margin:0;
	position: relative;
	text-align: center;

	@media(max-width: 1200px) {
    flex-basis:25% !important;
    max-width:25% !important;
    width:25% !important;
		padding:0 30px 30px;
  }

  @media(max-width: 991px) {
    flex-basis:50% !important;
    max-width:50% !important;
    width:50% !important;
    padding:30px;
  }

  @media(max-width: 499px) {
    flex-basis:50% !important;
    max-width:50% !important;
    width:50% !important;
    padding:15px;
  }

  &:before {

  	content:'';
  	position: absolute;
  	top:0;
  	left:0;
  	border-left:1px solid currentColor;
  	height:100%;
  	width:1px;
  	display: block;
  	opacity: 0.35;

  }

	&:first-child {

		&:before {
				display: none;
		}

	}

	&:nth-child(odd) {

		&:before {
			@media(max-width:991px) {
				display: none;
			}
		}

	}

	h2 {
		margin:0;
		line-height: 1;
		white-space: nowrap;
		padding:0;
		position: relative;
		top: -12px;
		color:inherit;
		font-weight: 500;

		&:after {
			display: none;
		}
	}

	.stat--prefix {
		display:inline-block;
		font-size:42px;
		position: relative;
		margin:0 5px 0 0;
		top:-34px;
		font-weight: 400;

		@media(max-width: 499px) {
			font-size:30px;
			top:-8px;
		}

	}

	.stat--prefix-large {
		display:inline-block;
		font-size:100px;
		position: relative;
		margin:0 0 0 5px;
		font-weight: 400;
		letter-spacing:0px;

		@media(min-width: 500px) and (max-width: 767px) {
			font-size:80px;
		}

		@media(max-width: 499px) {
			font-size:42px;
		}

	}

	.stat--suffix {
		display:inline-block;
		font-size:100px;
		position: relative;
		margin:0 0 0 5px;
		font-weight: 500;
		letter-spacing:0px;

		@media(min-width: 500px) and (max-width: 767px) {
			font-size:80px;
		}

		@media(max-width: 499px) {
			font-size:42px;
		}

	}

	.stat--suffix-small {
		display:inline-block;
		font-size:42px;
		position: relative;
		margin:0 0 0 5px;
		top:-34px;
		font-weight: 400;

		@media(max-width: 499px) {
			font-size:30px;
			top:-8px;
		}
	}

	.stat--number {
		margin:0;
		font-size:100px;
		letter-spacing:-2px;
		display:inline-block;
		font-weight: 500;

		@media(min-width: 500px) and (max-width: 767px) {
			font-size:80px;
		}

		@media(max-width: 499px) {
			font-size:42px;
		}

	}

	p {
		margin:0 auto;
		font-size:18px;
		display: block;
		position:relative;
		font-family:$font-family-sans-serif;
		letter-spacing: 0;
		padding:0 30px;
		color:$gray-500;

		&:after {
			display: none;
		}
	}

}
