.tabs {

	.tabs-grid {

	  @media(min-width:$screen-lg-min) {
	    display: grid;
	    grid-template-areas:
	      "item item item item item"
	      "desc desc desc desc desc";
	    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	  }

	}

	.tab--link {

		height:300px;
		padding:0px;
		color:#fff;
		display: flex;
		justify-content: flex-end;
		align-content: flex-end;
		align-items: flex-end;

		@media(min-width:$screen-lg-min) {
			height:400px;
		}

		&.tab--link-1 {
			background:$blue-400;
		}

		&.tab--link-2 {
			background:darken($blue-400,5%);
		}

		&.tab--link-3 {
			background:darken($blue-400,10%);
		}

		&.tab--link-4 {
			background:darken($blue-400,15%);
		}

		&.tab--link-5 {
			background:darken($blue-400,20%);
		}

		a {
			display: block;
			flex:1;
			text-decoration: none;
			color:#fff;
			font-size:23px;
			padding:60px;
			font-weight: 600;

			svg {
				display: block;
				width:30px;
				height:auto;
				margin:30px 0 0;
			}

		}

		&.is-expanded {

	    + .tab--content {
	      max-height: 800px;
	    }

	  }

	}

}

.tab--content {

  position: relative;
  z-index: 3;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  position: relative;
  top: 0px;
  padding:0;
  background-color: darken($blue-400,5%);

  @media(min-width:$screen-lg-min) {
    grid-area: desc;
		display: flex;
		flex-flow:row nowrap;
  }

	.tab--inner {

		background:$gray-700;
		padding:30px 60px 30px 30px;
		color:#fff;
		font-size: 16px;

		@media(min-width:$screen-sm-min) {
			font-size: 18px;
		}

		@media(min-width:$screen-md-min) {
			font-size: 20px;
		}

		@media(min-width:$screen-lg-min) {
			flex:1 0 75%;
			padding:60px 90px 60px 60px;
		}

		> *:first-child {
			margin-top:0;
		}

		> *:last-child {
			margin-bottom:0;
		}

	}

	.tab--icon {

		background:$gray-700;
		position: relative;
		height:200px;

		@media(min-width:$screen-lg-min) {
			flex:1 0 25%;
			height:auto;
		}

		img {
			width:140px;
			height:auto;
			position: absolute;
			top:50%;
			left:50%;
			transform:translate(-50%,-50%);

			@media(min-width:$screen-lg-min) {
				width:50%;
			}
		}

	}

	.tab-close {
		position: absolute;
		top:30px;
		right:30px;
		z-index: 2;
		height:20px;
		width:20px;
		background:url(../images/icon-close.svg) center center / 20px auto no-repeat transparent;
	}

}
