.table {

	thead {

		tr {

			th {
				background:#2c536b;
				color:#fff;
				font-weight: 400;
			}

		}

	}

	tbody {

		tr {

			td {
				background:#e3e7e9;
				border:none;
			}

			&:nth-child(odd) {
				
				td {
					background:#eef0f0;
				}

			}

		}

	}

}