.wp-block-cover {

  padding-left:20px;
  padding-right:20px;

  @media(min-width:$screen-md-min) {
		padding-left:60px;
		padding-right:60px;
	}

	@media(min-width:$screen-lg-min) {
		padding-left:40px;
		padding-right:40px;
	}

	@media(min-width:$screen-xl-min) {
		padding-left:20px;
		padding-right:20px;
	}

  .wp-block-cover__inner-container {
    max-width: 1400px;
    margin:0 auto;
    font-size:17px;
  }

  &.landscape-cover {
    min-height: 320px;
    padding-left:60px;
    padding-right:60px;
    border-radius: 6px;
  }

  &.landscape-cover .wp-block-button {
    font-size:14px;
  }

  &.landscape-cover h3 {
    margin-top:0;
  }

  &.landscape-cover .wp-block-buttons {
    margin-bottom:0;
  }


}
