.wp-menu {

}

.wp-menu--nav {

	display: flex;
  flex-flow:row wrap;
  margin:0;
  list-style-type:none;
  padding:0;

	@media(min-width:$screen-sm-min) {
		justify-content: center;
		margin:0 -15px;
	}

	@media(min-width:$screen-lg-min) {
		flex-flow:row nowrap;
	}

	&.is-vertical {

		flex-flow:row wrap;
		margin:0;

		&.is-flex-end {

			li {
				text-align: right;
			}

		}

		li {
	    margin:0;
	    padding:0;
			flex:1 0 100%;
			width:100%;
			padding:0;
			line-height: 1.65;
		}

		a {
			margin:0;
			padding:0;
		}

	}

	&.is-flex-start {
		@media(min-width:$screen-sm-min) {
			justify-content: flex-start;
		}
	}

	&.is-center {
		@media(min-width:$screen-sm-min) {
			justify-content: center;
		}
	}

	&.is-flex-end {
		@media(min-width:$screen-sm-min) {
			justify-content: flex-end;
		}
	}

	&.is-space-between {
		@media(min-width:$screen-sm-min) {
			justify-content: space-between;
		}
	}

  li {
    margin:0 0 10px;
    padding:0;
		flex:1 0 100%;

		@media(min-width:$screen-sm-min) {
			margin:0 15px 15px;
			flex:0 0 auto;
		}

		@media(min-width:$screen-lg-min) {
			margin:0 15px;
		}

		&.dropdown {

			position: relative;

			> a {

				padding-right:20px;
				position: relative;

				.caret {
					right:0;
					top:50%;
					transform:translateY(-50%);
					height:10px;
					position: absolute;
					width:10px;
					background:url(../images/caret-thin-down.svg) center center / 100% auto no-repeat transparent;
				}

			}

			&:hover {

				.sub-menu {
					display: block;
				}

			}

		}

		.sub-menu {
			position: absolute;
			top:100%;
			left:0;
			list-style-type:none;
			display: none;
			padding:10px 0 0;
			margin:0;

			li {
				background:rgba(255,255,255,0.1);
				margin:0;
			}

			a {
				word-break: keep-all;
				white-space: nowrap;
				padding:10px 15px;
				color:#fff;
			}

		}

  }

  a {
    color:inherit;
    text-decoration: none;
    padding:0 0 5px;
    display: block;

    &:hover {
      color:$gray-300;
    }
  }

	// > li > a {
	//
	// 	&[href*="facebook.com"],
	// 	&[href*="twitter.com"],
	// 	&[href*="linkedin.com"],
	// 	&[href*="youtube.com"],
	// 	&[href*="instagram.com"],
	// 	&[href*="/feed"] {
	// 		@include text-hide();
	// 		position:relative;
	// 		height:18px;
	// 		width:18px;
	// 		line-height:1;
	// 		text-align:center;
	// 		background-position: center;
	// 		background-repeat: no-repeat;
	// 		display: inline-block;
	// 		margin:-1px 0 0;
	// 		background-size: contain;
	// 		height:40px;
	// 		width:40px;
	// 		border:2px solid $blue-400;
	// 		border-radius: 100%;
	// 	}
	//
	// 	&[href*="linkedin.com"] {
	// 		background-size: 50% auto;
	// 		background-image:url(../images/icon-linkedin.svg);
	// 	}
	//
	// 	&[href*="twitter.com"] {
	// 		background-size: 50% auto;
	// 		background-image:url(../images/icon-twitter.svg);
	// 	}
	//
	// 	&[href*="instagram.com"] {
	// 		background-size: 50% auto;
	// 		background-image:url(../images/icon-instagram.svg);
	// 	}
	//
	// 	&[href*="facebook.com"] {
	// 		background-size: auto 50%;
	// 		background-image:url(../images/icon-facebook.svg);
	// 	}
	//
	// 	&[href*="youtube.com"] {
	// 		background-size: 50% auto;
	// 		background-image:url(../images/icon-youtube.svg);
	// 	}
	//
	// 	&[href*="/feed"] {
	// 		background-size: 50% auto;
	// 		background-image:url(../images/icon-rss.svg);
	// 	}
	//
	// }

}
