/*
    Colorbox Core Style:
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:90%; height:90%; display:block; border:0; padding:0; margin:0 auto;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/

// Fade-out background color
#cboxOverlay{
  background:rgba(0,0,0,0.75);
}


#colorbox{
  outline:0;

  #cboxTopLeft{}
  #cboxTopRight{}
  #cboxBottomLeft{}
  #cboxBottomRight{}
  #cboxMiddleLeft{}
  #cboxMiddleRight{}
  #cboxTopCenter{}
  #cboxBottomCenter{}
  #cboxContent{
    padding:2.5% 0;
    background-color: rgba($blue-400,0.5);

    .cboxIframe{}
    #cboxError{}
    #cboxLoadedContent{}
    #cboxTitle{
      float: none;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 999999;
      background-color: rgba(255,255,255,0.75);
      padding: 1em;
      text-align: left;
      color: $blue-400;

      &.gallery-caption-hidden,
      &.video-caption-hidden {
        display:none !important;
      }
      
    }
    #cboxCurrent{}
    #cboxLoadingOverlay{}
    #cboxLoadingGraphic{}

    /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
    #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
    
    /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
    #cboxClose, #cboxPrevious, #cboxNext, #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

    #cboxSlideshow{}
    #cboxPrevious{}
    #cboxPrevious:hover{}
    #cboxPrevious,
    #cboxNext{
      display:none;
    }
    #cboxClose{
      background-image: url(../images/icons/icon-close.svg);
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 50% auto;
      border: 0;
      cursor: pointer;
      color: transparent;
      position: absolute;
      padding: 0;
      height: 50px;
      width: 50px;
      position: absolute;
      top:0;
      right:0;
      background-color:transparent;
    }
  } 
}

@media(min-width:$screen-sm-min) {
  #colorbox{
    outline:0;

    #cboxTopLeft{}
    #cboxTopRight{}
    #cboxBottomLeft{}
    #cboxBottomRight{}
    #cboxMiddleLeft{}
    #cboxMiddleRight{}
    #cboxTopCenter{}
    #cboxBottomCenter{}
    #cboxContent{
      margin:0;
      box-shadow: 0 0 0 transparent;
      background-color:transparent;

      .cboxIframe{}
      #cboxError{}
      #cboxLoadedContent{
         padding:0;
         // height:100% !important;
         // width:100% !important;
      }
      #cboxTitle{
        float: none;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999999;
        background-color: rgba(255,255,255,0.75);
        padding: 1em 0;
        text-align: center;
        color: $blue-400;

        &.gallery-caption-hidden,
        &.video-caption-hidden {
          display:none !important;
        }

      }
      #cboxCurrent{}
      #cboxLoadingOverlay{}
      #cboxLoadingGraphic{}

      /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
      #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
      
      /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
      #cboxClose, #cboxPrevious, #cboxNext, #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

      #cboxSlideshow{}
      #cboxPrevious,
      #cboxNext {
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 40% auto;
        background-image: url(../images/caret-left-white.svg);
        height: 70px;
        width: 70px;
        top:50%;
        left:0;
        margin:-1.4em 0 0;
        position: absolute;
        text-indent: -9999px;
        display:block;
      }
      #cboxNext{
        background-image: url(../images/caret-right-white.svg);
        left:auto;
        right:0;
      }
      #cboxPrevious:hover,
      #cboxNext:hover{background-color:rgba(0,0,0,0.1);}
      #cboxClose{
        background-image: url(../images/icons/icon-close.svg);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 50% auto;
        border: 0;
        cursor: pointer;
        color: transparent;
        position: absolute;
        padding: 0;
        height: 50px;
        width: 50px;
        position: absolute;
        top:0;
        right:0;
        background-color:rgba(255,255,255,0);
      }
      #cboxClose:hover{background-color:rgba(255,255,255,0.25);}
    } 
  }

  #colorbox.video-cbox {

    overflow:visible;

    #cboxWrapper {
      overflow:visible;
    }

    div#cboxTitle {
      width: 99.2%;
      background: #fff;
      padding: 0.5em;
      font-size: 1.6em;
      text-transform: uppercase;
      font-weight: 900;

      &.video-caption-hidden {
        display: none !important;
      }
    }

  }


}

#colorbox.inline-cbox {

  #cboxContent {
    padding:0;
  }

  #cboxTitle {
    display:none;
  }

  #cboxLoadedContent {

  }

  #cboxClose {

  }

  #cboxContent #cboxClose {
    background-image: url(../images/icons/icon-close.svg);
  }

}