.disclaimer-popup-showing {
	height:100%;
	overflow:hidden;

	#disclaimer.disclaimer-popup {
		opacity: 1;
		visibility: visible;
		display: block;

		.disclaimer--dialog {

			.disclaimer--dialog-inner {
				animation-duration: 1s;
				animation-fill-mode: both;
				animation-name: bounceInDown;
			}

		}

	}

}

#disclaimer {

	&.disclaimer-nav_banner,
	&.disclaimer-footer_banner {

		.disclaimer--banner {

			background:#ccc;
			text-align:center;
			padding:5px 0 8px;
			display: block;
			margin:0;

			a {
				display: inline-block;
				color: #fff;
				font-size: 12px;
				font-weight: 500;
				line-height: 1;
				text-transform: uppercase;
				padding:8px 16px;
				background:$blue-400;
				cursor:pointer;
				transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

				&:hover,
				&:active,
				&:focus {
					background: lighten($blue-400, 15%);
				}

			}

		}

	}

	&.disclaimer-footer_banner {

	}

	&.disclaimer-footer {

		clear:both;

		.disclaimer--footer-content {

			margin:40px 0;
			@include clearfix();

			p {
				margin:0 0 15px;
				font-size:13px;
				line-height: 1.75;
			}

		}

	}

	&.disclaimer-interstitial {

		border-top: 1px solid #d5d5d5;
    	background: #fff;
		margin:20px 0 0;

		.disclaimer--banner {

			text-align:right;
			padding:20px 0;
			display: block;
			margin:0;
			margin:0 auto;
			font-size:18px;
			max-width:1170px;

			a {
				display: inline-block;
				color: #fff;
				font-size: 16px;
				font-weight: 500;
				line-height: 1;
				text-transform: uppercase;
				cursor:pointer;
				padding:15px 20px;
				margin:0 0 0 20px;
				background:$blue-400;
				transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

				&:hover,
				&:active,
				&:focus {
					background: lighten($blue-400, 15%);
				}

			}

		}

	}

	&.disclaimer-popup {

		position: fixed;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background:rgba(0,0,0,0.5);
		opacity: 0;
		visibility: hidden;
		z-index: 9998;
		display: none;
		transition:opacity 0.5s ease-in-out 1s,visibility 0.5s ease-in-out 1s;

		.disclaimer--dialog {

			.disclaimer--dialog-inner {
				animation-duration: 1s;
				animation-fill-mode: both;
				animation-name: bounceOutUp;
			}

		}

		.disclaimer--dialog {

			position: absolute;
			top:5%;
			bottom:5%;
			left:5%;
			right:5%;
			z-index: 9999;

			@media(min-width:$screen-md-min) {
				left:10%;
				right:10%;
			}

			@media(min-width:$screen-lg-min) {
				left:20%;
				right:20%;
			}

			@media(min-width:$screen-xl-min) {
				left:25%;
				right:25%;
			}

		}

		.disclaimer--dialog-inner {
			background:#fff;
			box-shadow:0 0 10px rgba(0,0,0,0.5);
			height:100%;
			animation-duration: 1s;
			animation-fill-mode: both;
			animation-name: bounceInDown;
		}

		.disclaimer--content {
			padding:1em 0 75px;
			height:100%;
			background:#fff;
		}

		.disclaimer--body {
			height:100%;
			overflow:auto;
			border-top:1px solid #d5d5d5;
			background:#f5f5f5;
			padding: 25px 30px;
			font-size:14px !important;

			h1, h2, h3, h4, h5, h6 {
				font-weight: bold;
				font-size:16px !important;
			}

			h1 {
				font-size:24px !important;
			}

			h2 {
				font-size:22px !important;
			}

			h3 {
				font-size:20px !important;
			}

			h4 {
				font-size:18px !important;
			}

			li, em, strong {
				font-size:14px !important;
			}
		}

		.disclaimer--footer {
			margin:0;
			padding:1em;
			border-top:1px solid #d5d5d5;
			background:#fff;
			font-size:12px;
			text-align:right;
			position: absolute;
			bottom:0;
			left:0;
			right:0;
			height:75px;

			@media(min-width:$screen-sm-min) {
				font-size:16px;
			}

			p {
				margin:0;

				span {

					@media(max-width:519px) {
						float:left;
						width:50%;
						text-align:left;
					}

				}

			}

			.disclaimer--terms-button {
				display: inline-block;
				color: #fff;
				font-size: 12px;
				font-weight: 500;
				line-height: 1;
				text-transform: uppercase;
				padding:15px 20px;
				background:$blue-400;
				transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
				cursor:pointer;

				@media(min-width:520px) {
					margin:0 0 0 20px;
				}

				&:hover,
				&:active,
				&:focus {
					background: lighten($blue-400, 15%);
				}
			}

		}

	}

}
