.modal-header {
  // background: @green;
  // min-height: 50px !important;
  .modal-title {
    
  }
}
.modal-content {
  color: #222;
}
.modal-body {
  // max-height: 300px;
  // overflow: auto;
}
.modal-footer {
  text-align: left;
  .accepted {
    text-align: left;
  }
}
.modal-backdrop {
  background: #000;
}
.modal-dialog {

    font-size:12px;

  @media (min-width: 767px) {
    width: 80% !important;
    font-size:16px;
  }
}

.modal-dialog-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}
.modal-body {
  overflow-y: auto;
}
.modal-footer {
  margin-top: 0;
}
@media (max-width: 767px) {
  .modal-dialog-center {
    width: 100%;
  }
}