@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    //transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 30deg);
    opacity: 1;
  }

  80% {
    //transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
  }

  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
  }
}

.flipInX {
  backface-visibility: visible !important;
  animation-name: flipInX;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes flipOutX {
  from {
    transform: perspective(400px);
  }

  60% {
    //transform: perspective(400px) rotate3d(1, 0, 0, 30deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

.flipOutX {
  animation-duration: 0.5s;
    animation-fill-mode: forwards;
  animation-name: flipOutX;
  backface-visibility: visible !important;
}