* {
  box-sizing: border-box;
}

body {
  background-color: $body-bg;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  font-weight: normal;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
  font-weight: 600;
  line-height: 1.65;
  position: relative;
  padding-top:0px;

  @media(min-width:$screen-xl-min) {
    padding-top:0px;
  }

}

h1, h2, h3, h4, h5, h6 {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  line-height: 1.35;
  font-family: $font-family-headings;
  margin:0.5em 0;
  font-weight: 400;
  font-style: normal;

  em {
    font-size:inherit;
  }

  strong {
    font-weight: 900;
  }

  small {
    font-family:$font-family-sans-serif;
  }

  &.sans {
    font-family:$font-family-sans-serif;
    font-weight: 400;
    letter-spacing: 0;
  }

  &:not(.post--item--title) {

    a {
      float:right;
      color:$green-400;
      font-size:16px;
      font-weight: 600;
      position: relative;
      top:20px;
    }

  }

}

h1, .h1 {

  font-size: $font-size-h1;

  @media(max-width:1100px) {
    //font-size: $font-size-h1 * 0.6;
  }

  @media(max-width:$screen-sm-max) {
    font-size: $font-size-h1 * 0.5;
    line-height: 1.3;
  }

  &.big {
    font-size: $font-size-h1 * 2;
  }

}

h2, .h2 {

  font-size: $font-size-h2;

  @media(max-width:1100px) {
    font-size: $font-size-h2 * 0.9;
  }

  @media(max-width:$screen-sm-max) {
    font-size: $font-size-h2 * 0.7;
  }

  &.big {
    font-size: $font-size-h2 * 2;
  }

}

h3, .h3 {

  font-size: $font-size-h3;

  @media(max-width:$screen-sm-max) {
    font-size: $font-size-h3 * 0.75;
  }

  &.big {
    font-size: $font-size-h3 * 2;
  }

}
h4, .h4 {
  font-size: $font-size-h4;

  @media(max-width:$screen-sm-max) {
    font-size: $font-size-h4 * 0.8;
  }

  &.big {
    font-size: $font-size-h4 * 2;
    line-height: 1.1;
  }

}
h5, .h5 {
  
  font-size: $font-size-h5;
  line-height: 1.65;

  &.big {
    font-size: $font-size-h5 * 2;
    line-height: 1.2;
  }
}
h6, .h6 {
  font-size: $font-size-h6;
}

p {

  margin: 0 auto 1.5em;
  
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }

  &.big {
    font-size: 24px;
    letter-spacing: 3px;

    em {
      font-size: inherit;
    }
  }

  &.bigger {
    font-size: 30px;
    letter-spacing: 3px;

    em {
      font-size: inherit;
    }
  }

  &.small {
    font-size:16px;
  }

}

ol, ul {

  margin: 0 auto 20px;
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 40px;

  &.align-right {

    text-align: left;

    @media(min-width:$screen-lg-min) {
      list-style-position: inside;
      text-align: right;
    }
  }

  li {
    margin: 15px auto;
    line-height: 1.3;
  }

}

blockquote p {
  font-size: 1.2em;
  line-height: 1.75;
}

figure, iframe, object, embed {
  max-width: 100%;
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
}

.embed-vimeo,
.embed-youtube {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

code {
  white-space: normal;
}

em, i {
  font-style: italic;
  font-size:18px;
}

strong, b {
  font-weight:600;
}

.content {

}

a {
  color: inherit;
  text-decoration: $link-decoration;
  transition: 0.2s;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: $link-hover-decoration;
  }
}

hr {
  border-color:#fff;
  width:40%;
  margin:20px auto;
  clear:both;
}

p:empty {
  height:0;
  line-height: 1;
  position: absolute;
  left:-9999px;
  margin:0;
  padding:0;
  display: none;
}

.align-right {
  text-align:right;
}

#full-height,
.full-height {

  @media(min-width:$screen-sm-min) {
    height:calc(100vh - 83px);
    min-height:400px;
    max-height:1000px;
    position: relative;
    z-index: 1;
  }

}

.wrap,
.content,
.main {
  padding:0;
  max-width:inherit !important;
}

.content {
  position: relative;
  z-index: 2;
}

.wrap {
  padding-left:0px;
  padding-right:0px;
  position: relative;
  z-index: 2;
  overflow:hidden;
  background:$body-bg;
}

.main {
  @include clearfix();

  @media(min-width:$screen-sm-min) {
    //padding-bottom:134px;
  }

}

.fadein {
  opacity: 0;
  visibility: hidden;
}

.inview {

  opacity: 0;
  visibility: hidden;

  &.fadein {
    transition:opacity 0.6s ease-in, visibility 1s ease-in;
  }

  &.fadeinslow {
    transition:opacity 0.8s ease-in, visibility 1s ease-in;
  }

  &.fadeinxslow {
    transition:opacity 5.4s ease-in, visibility 5.8s ease-in;
  }

  &.fadeinup {
    position: relative;
    transform:translateY(30px);
    transition:transform 0.6s ease-in, opacity 0.6s ease-in, visibility 1s ease-in;
  }

  &.fadeindown {
    position: relative;
    transform:translateY(-30px);
    transition:transform 0.6s ease-in, opacity 0.6s ease-in, visibility 1s ease-in;
  }

  &.fadeinleft {
    position: relative;
    transform:translateX(-60px);
    transition:transform 0.8s ease-in, opacity 0.8s ease-in, visibility 1s ease-in;
  }

  &.fadeinright {
    position: relative;
    transform:translateX(60px);
    transition:transform 0.8s ease-in, opacity 0.8s ease-in, visibility 1s ease-in;
  }

  &.over {
    opacity: 1;
    visibility: visible;

    &.fadeindown {
      transform:translateY(0);
    }

    &.fadeinup {
      transform:translateY(0);
    }

    &.fadeinleft {
      transform:translateX(0);
    }

    &.fadeinright {
      transform:translateX(0);
    }

    &.fadein {
      opacity: 1;
      visibility: visible;
    }

  }

}

.wp-caption {

  max-width:100%;
  background:#eaeaea;

  @media(min-width:$screen-sm-min) {
    max-width:42%;
  }

  &.alignleft {

    margin:20px auto;

    @media(min-width:$screen-sm-min) {
      margin:7px 20px 20px 0;
    }

  }

  &.alignright {

    margin:20px auto;

    @media(min-width:$screen-sm-min) {
      margin:7px 0 20px 20px;
    }

  }

  img {

    max-width:100%;
    height:auto;
    display:block;

  }

  figcaption {
    padding:10px;
    color:#333333;
    font-size:12px;
    line-height:1.5;
  }

}

sup {
  font-size: 50%;
  top: -1em;
  letter-spacing: 0;
}

.divider-right {

  @media(min-width:$screen-sm-min) {
    padding-right:60px;
    position:relative;
  }

  &:after {
    @media(min-width:$screen-sm-min) {
      content:'';
      position:absolute;
      top:0;
      bottom:0;
      right:23.5px;
      width:1px;
      background:#ddd;
    }
  }

}

body .aligncenter {
  margin-top:0;
  margin-bottom:0;
}

.container {
  @media (max-width: 767px) {
    max-width: 100%;
  }
}

.row-eq-height {
  @media(min-width:$screen-sm-min) {
    display:flex;
  }
}

.wp-block-image {

  &.max-width {

    @include clearfix;

    img {
      max-width:240px;
    }

  }

  &.mobile-center {

    @media (max-width:640px) {
      float:none;
      margin-left:auto;
      margin-right:auto;
    }

  }

  img {
    max-width:100%;
  }

}

.wp-block-image {

  figcaption {
    text-align:left;
    color:#78a6c3;
  }

}

@each $name, $color in $colors {

  .border-#{$name} {
    border:1px solid $color !important;
  }

  .#{$name} {

    color: $color !important;

    li, a {
      color: $color !important;
    }

  }

  .#{$name}-links {

    a {
      color: $color !important;
    }

  }

}

.has-inline-color {

  @each $name, $color in $colors {

    &.has-#{$name}-color {
      color: $color !important;
    }

    &.has-#{$name}-color:hover,
    &.has-#{$name}-color:focus {
      color: $color !important;
    }

  }

}

.has-text-color {

  @each $name, $color in $colors {

    &.has-#{$name}-color {
      color: $color;
    }

    &.has-#{$name}-color:hover,
    &.has-#{$name}-color:focus {
      color: $color;
    }

  }

}

.has-background {

  @each $name, $color in $colors {

    &.has-#{$name}-background-color {
      background-color: $color;
    }

    &.has-#{$name}-background-color:hover,
    &.has-#{$name}-background-color:focus {
      background-color: $color;
    }

  }

  @each $name, $gradient in $gradients {

    &.has-#{$name}-gradient-background {
      background: $gradient;
    }

  }

}

.wp-block-spacer {
  clear:both;
}

.sr-only {
  font:0/0 a;
  text-indent:-9999px;
  height: 0;
  display: block;
  overflow: hidden;
}

.advance-arrow {
  position: absolute;
  bottom:0;
  right:0;
}
