.group {

	display: flex;
	flex-flow: row wrap;
	padding:0 20px;
	justify-content: center;
	width: 100%;

	@media(min-width:$screen-md-min) {
		padding:0 30px;
	}

	@media(min-width:$screen-lg-min) {
		padding:0 40px;
	}

	@media(min-width:$screen-xl-min) {
		padding:0 60px;
	}

	&.narrow {

		.group--inner {
			max-width:1100px;
		}

	}

	&.narrower {

		.group--inner {
			max-width:900px;
		}

	}

	&.narrowest {

		.group--inner {
			max-width:700px;
		}

	}

	&--inner {
		flex:1;
		width:100%;
		max-width: 1400px;
		margin-left:auto;
		margin-right:auto;
	}

}

.columns {
	
	@media(min-width:$screen-md-min) {
		display: flex;
		flex-flow:row nowrap;
	}

}

.column {

	flex:1 0 50%;

	&:nth-child(2n) {

		@media(min-width:$screen-md-min) {
			margin-left:60px;
		}

	}
	
}