.is-ie {

  .portfolio--grid {

    display: -ms-grid;
    -ms-grid-columns: 1fr;

    @media(min-width:667px) {

      .portfolio--grid {
        -ms-grid-columns: 1fr 1fr;
      }

    }

    @media(min-width:768px) {

      .portfolio--grid {
        -ms-grid-columns: 1fr 1fr 1fr;
      }
      
    }

    @media(min-width:992px) {

      .portfolio--grid {
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
      }
      
    }

  }

}