.content-info {

	clear: both;
	margin:0;
	@include clearfix();
	position: relative;
	z-index: 10;
	background-color:#52555b;

	.footer-legal {

		a {

			@media(min-width:$screen-lg-min) {
				margin-left:15px;
			}
			
		}

	}

	h1, h2, h3, h4, h5, h6 {

		a {
			text-decoration: none;
		}

	}

	p {

		font-size:16px;
		font-weight: 400;

		a {
			text-decoration: none;
			color:#fff;

			// &[href*="facebook.com"],
			// &[href*="twitter.com"],
			// &[href*="linkedin.com"],
			// &[href*="youtube.com"],
			// &[href*="instagram.com"],
			// &[href*="/feed"] {
			// 	@include text-hide();
			// 	position:relative;
			// 	height:14px;
			// 	width:18px;
			// 	line-height:1;
			// 	text-align:center;
			// 	background-position: center;
			// 	background-repeat: no-repeat;
			// 	display: inline-block;
			// 	margin:1px 10px 0 0;
			// 	background-size: contain;
			// 	background-size: 100% auto;

			// 	&:last-of-type {
			// 		margin-right:0px;
			// 	}
			// }

			// &[href*="twitter.com"] {
			// 	background-size: auto 100%;
			// 	margin-left:10px;
			// 	background-image:url(../images/icon-twitter-light-blue.svg);
			// }
		
			// &[href*="instagram.com"] {
			// 	background-size: 100% auto;
			// 	background-image:url(../images/icon-instagram-light-blue.svg);
			// }

			// &[href*="linkedin.com"] {
			// 	background-size: auto 100%;
			// 	background-image:url(../images/icon-linkedin-light-blue.svg);
			// }
		
			// &[href*="facebook.com"] {
			// 	background-size: auto 100%;
			// 	background-image:url(../images/icon-facebook-light-blue.svg);
			// }

		}

	}

	@media(max-width:991px) {
		text-align: center !important;

		p {
			text-align: center !important;
		}

		.responsive-image {
			margin-left:auto !important;
			margin-right: auto !important;
			text-align: center !important;

			img {
				margin-left:auto !important;
				margin-right: auto !important;
				text-align: center !important;
			}
		}

		.wp-block-group {
			display: block;
		}
	}

	.wp-block-columns {

		margin-bottom:0;

		.wp-block-column {

			@media(max-width:991px) {
				margin-left:0;
				margin-bottom:0;
			}

			&:last-child {

				@media(max-width:991px) {
					display: flex;
					flex-flow:row wrap;

					p {
						//order:1;
						flex:1 0 100%;
						margin:30px 0 0;
					}

					> div {
						//order:2;
						flex:1 0 100%;
						margin:30px 0 0;

						.wp-menu--nav {
							display: flex;
							flex-flow:row wrap;
							justify-content: space-between;

							li {
								flex:1 0 calc(33.333% - 15px);
								width:calc(33.333% - 15px);
								max-width:calc(33.333% - 15px);
								margin:0;

								a {
									border-bottom:1px solid rgba(#6cabdc,0.35);
									display: block;
									padding:10px 0;
								}
								
							}
						}
					}
				}

				@media(max-width:499px) {

					> div {

						.wp-menu--nav {

							li {
								flex:1 0 calc(50% - 15px);
								width:calc(50% - 15px);
								max-width:calc(50% - 15px);
							
							}
						}
					}

				}
			}

		}

	}

	.wp-menu .wp-menu--nav {

		margin:0;
		font-size:16px;
		flex-flow: row wrap;

		@media(max-width:991px) {
			justify-content: center;
		}

		.sub-menu {
			@media(max-width:767px) {
				opacity: 1;
				visibility: visible;
				position:static;
				display:block;
			}

			li {
				@media(max-width:767px) {
					background:transparent;
				}
			}

			a {

				font-size:18px;

				@media(max-width:767px) {
					padding:0;
					font-size:16px;
					margin:5px 0 0;
				}
			}
		}

		> li {

			// margin:0 0 15px 20px;

			// @media(max-width:991px) {
			// 	margin:0 0 15px 30px;
			// }

			// @media(max-width:767px) {
			// 	flex-basis:100%;
			// 	margin:0 0 15px;
			// }

			a {
				font-size: 16px;
				font-weight: 400;

				&:hover,
				&:active,
				&:focus {
					color:#ffffff !important;
				}
			}

			&.dropdown {
				
				a {

					padding-right:0;
					

					.caret {

						display: none;
						@media(max-width:767px) {
							display: block;
						}
					}

				}

			}

		}

		// a {
		//
		// 	&[href*="facebook.com"],
		// 	&[href*="twitter.com"],
		// 	&[href*="linkedin.com"],
		// 	&[href*="youtube.com"],
		// 	&[href*="instagram.com"],
		// 	&[href*="/feed"] {
		// 		@include text-hide();
		// 		position:relative;
		// 		height:18px;
		// 		width:18px;
		// 		line-height:1;
		// 		text-align:center;
		// 		background-position: center;
		// 		background-repeat: no-repeat;
		// 		display: inline-block;
		// 		margin:-1px 0 0;
		// 		background-size: contain;
		// 		height:50px;
		// 		width:50px;
		// 		border:1px solid $gray-400;
		// 		border-radius: 100%;
		// 	}
		//
		// 	&[href*="linkedin.com"] {
		// 		background-size: 40% auto;
		// 		background-image:url(../images/icon-linkedin-black.svg);
		// 	}
		//
			// &[href*="twitter.com"] {
			// 	background-size: 40% auto;
			// 	background-image:url(../images/icon-twitter-black.svg);
			// }
		
			// &[href*="instagram.com"] {
			// 	background-size: 40% auto;
			// 	background-image:url(../images/icon-instagram-black.svg);
			// }
		
			// &[href*="facebook.com"] {
			// 	background-size: auto 40%;
			// 	background-image:url(../images/icon-facebook-black.svg);
			// }
		//
		// 	&[href*="youtube.com"] {
		// 		background-size: 40% auto;
		// 		background-image:url(../images/icon-youtube-black.svg);
		// 	}
		//
		// 	&[href*="/feed"] {
		// 		background-size: 40% auto;
		// 		background-image:url(../images/icon-rss-black.svg);
		// 	}
		//
		// }

		.sub-menu {
			list-style-type: none;
			padding:0;
			display: none;

			li {
				padding:0;
			}

			a {
				font-size:16px;
			}

		}

	}

}
