.too--footer {

	display: flex;
	flex-flow:row nowrap;
	padding-top:60px;
	padding-bottom:60px;
	font-size: 14px;
	justify-content: space-between;
	align-items: flex-end;

	&--tree {
		width:160px;
		height:auto;
		margin:-90px 0 15px;
	}

	.columns {
		align-items: flex-end;
	}

	.column {

		&:nth-child(2n) {
			text-align: right;
		}
	}

}