.too {

	&--branding {

		padding:100px 0 30px;

		&--tree {
			max-width: 300px;
			margin:0 auto;
			display: block;
		}

		&--logo {
			max-width: 360px;
			margin:0 auto;
			display: block;
		}

	}

	&--content {
		overflow: hidden;
		max-width: 100%;
		height:100%;
	}

	&--requests--title {

		color:$pink-400;
		padding:30px 0 0;
		margin:0 0 10px;

		@media(min-width:$screen-md-min) {
			padding:200px 0 0;
		}

		small	{
			display: block;
			font-size:16px;
			text-transform: uppercase;
			font-weight: 900;
			margin:0 0 -5px;
		}

	}

	&--requests {
		list-style-type: none;
		margin:0 0 120px;
		padding:0;
		border:3px solid $green-200;
		border-radius: 30px;
		overflow: hidden;
	}

	&--request {

		display: flex;
		flex-flow: row wrap;
		width:100%;
		margin:0;
		background-color:$white;
		padding:20px 140px 20px 20px;
		font-size:16px;
		background-color:darken($green-100,5%);
		box-shadow: 0 4px 4px rgba($green-400,0);
		position: relative;
		z-index: 1;

		&:hover {
			transition:box-shadow 0.4s ease-in-out;
			//transform:
			z-index: 2;
			box-shadow: 0 4px 4px rgba($green-400,0.5);
		}

		&:nth-child(odd) {
			background-color:lighten($green-100,5%);
		}

		span {
			display: block;
			flex:1 0 100%;

			span {
				display: inline-block;
			}
		}

		&--date,
		&--author {
			font-size: 12px;
			text-transform: uppercase;
		}

		&--address {
			font-size: 16px;
			margin:10px 0;
		}

		&--description {
			font-size: 12px;
		}

		&--actions {
			position: absolute;
			width:100px;
			top:0;
			right:20px;
			bottom:0;
			display: flex !important;
			flex-flow: column wrap;
			justify-content: center;
			align-items: center;

			> div {

			}

			.button {

				width:100%;

				.button--link {
					padding:6px 8px;
					width:100%;
					font-size: 12px;
					border-width: 2px !important;
				}

			}
		}

	}

	&--form {
		top:0;
		left:0;
		height:100vh;
		width:100%;
		transform:translateY(100%);
		transition: 0.3s transform 0.3s ease-in-out;
		background:$pink-400;
		position: fixed;
		z-index: 9999;
		background-color: rgba($pink-400,0.65);

		&--close {
			font-size: 42px;
			font-family: $font-family-headings;
			line-height: 1;
			position: absolute;
			top:25px;
			right:35px;
			text-decoration: none;
			color:$pink-400;
			transform:rotate(0deg);
			transition: all 0.2s ease-in-out;
			transform-origin: center;

			@media(min-width:$screen-lg-min) {
				top:50px;
				right:60px;
			}

			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
				transform:rotate(15deg);
				color:$pink-400;
			}
		}

		&--container {
			
			height:calc(100% - 40px);
			width:calc(100% - 40px);
			align-items: center;
			justify-content: center;
			padding:40px 0;
			opacity: 0;
			transition: 0.3s opacity 0s ease-in-out;
			border-radius: 30px;
			margin:20px;
			border:3px solid $pink-400;
			background-color: $green-100;

			@media(min-width:$screen-sm-min) {
				padding:30px 0;
				height:calc(100% - 60px);
				width:calc(100% - 60px);
				margin:30px;
			}

			@media(min-width:$screen-lg-min) {
				display: flex;
				flex-flow: column wrap;
				padding:20px 0;
			}
		}

		form {

		}

	}

}

body.is-showing-form {

	overflow: hidden;
	height:100vh;

	.too {

		&--form {
			transform:translateY(0);
			transition: 0.3s transform 0s ease-in-out;

			&--container {
				opacity: 1;
				transition: 0.3s opacity 0.3s ease-in-out;
			}
		}

	}

}